// app global css in SCSS form

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.sansation {
  font-family: 'Sansation', sans-serif;
}

.nunito {
  font-family: 'Nunito', sans-serif;
}

.alata {
  font-family: 'Alata', sans-serif;
}
